extends layout

block content
  header.header-container
    h1 Members Only
    div
      a(href='/sign-up')
        button.default-button Sign Up
      a(href='/log-in')
        button.default-button Log In