@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@400;700&family=Poppins:wght@400;500;700&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: 'Martian Mono';
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.height-full {
  height: 100%;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.align-center {
  align-items: center;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 3px solid #efefef;
}

.form-container {
  height: fit-content;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 400px;
  font-size: 1rem;
  border: 1px solid #d8d8d8;
  background-color: #efefef;
  border-radius: 5px;
  padding: 20px;
}

.form-container > input {
  font-size: 1rem;
  padding: 5px;
  outline: none;
  text-decoration: none;
}

.font-small {
  font-size: 0.2rem;
  font-weight: 400;
}

.default-button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 15px;
  min-width: 90px;
}

.default-button:hover {
  text-decoration: underline;
}

.blue-text {
  color: blue;
}

#sign-up-button {
  cursor: pointer;
  margin-top: 10px;
}