@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@400;700&family=Poppins:wght@400;500;700&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: 'Martian Mono';
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.height-full {
  height: 100%;
}

.width-full {
  width: 100%;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.align-center {
  align-items: center;
}

.flex-grow {
  flex-grow: 1;
}

.flex-column {
  flex-direction: column;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 3px solid #d7d7d7;
}

.form-container {
  height: fit-content;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 400px;
  font-size: 1rem;
  border: 1px solid #d8d8d8;
  background-color: #efefef;
  border-radius: 5px;
  padding: 20px;
}

.form-container > input {
  font-size: 1rem;
  padding: 5px;
  outline: none;
  text-decoration: none;
}

.font-small {
  font-size: 0.2rem;
  font-weight: 400;
}

.default-button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 15px;
}

.default-button:hover {
  text-decoration: underline;
}

.send-button {
  background-color: transparent;
  border: 1px solid gray;
  padding: 10px 15px;
  cursor: pointer;
}

.blue-text {
  color: blue;
}

.room-grid {
  padding: 20px;
  display: grid;
  justify-content: center;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 350px));
}

.room-container {
  color: #efefef;
  background-color: rgb(108, 108, 108);
  padding: 10px 0px;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  transition: ease-in-out 200ms;
}

.room-container:hover {
  transform: scale(1.050);
}

.join-button {
  cursor: pointer;
  background-color: #5dbea3;
  border: none;
  padding: 2px 15px;
}

.join-button:hover {
  text-decoration: underline;
}

.chat-container {
  background-color: #efefef;
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.messages-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 10px;
}

.author {
  margin-left: auto;
}

.message-input {
  border: 1px solid gray;
  font-size: 1rem;
}

.message-auhtor {
  opacity: 0.4;
}

.message-container {
  display: flex;
  background-color: rgb(96, 96, 205);
  color: #ffff;
  width: fit-content;
  padding: 5px 15px;
  border-radius: 5px;
}

#sign-up-button {
  cursor: pointer;
  margin-top: 10px;
}